In [2]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData
from config import db_password

In [7]:
# Setup postgres variables
pg_user = "postgres"
pg_pwd = db_password
pg_port = "5432"
host = 'project-vu-database-piecharts.c7rvpt2rehpr.us-east-2.rds.amazonaws.com'

In [8]:
# Connect to postgres db
engine = "postgresql://{username}:{password}@{host}:{port}/project_db".format(username=pg_user, password=pg_pwd, host = host, port=pg_port)

In [9]:
# Read table to dataframe
master_df = pd.read_sql_query('select * from "master_bystate_table"',con=engine)

In [25]:
master_df.dtypes

State                           object
Rank_adult_access_2019         float64
percent_adult_access_2019      float64
pop_adult_access_2019          float64
Rank_adult_care_access_2020    float64
                                ...
LOC_Q_2019                      object
TOT_EMP_2020                    object
JOBS_1000_2020                  object
LOC_Q_2020                      object
id                               int64
Length: 122, dtype: object

In [26]:
# Remove commas to allow for changing dtypes
master_df = master_df.replace(',','', regex=True)
master_df.head()

,State,Rank_adult_access_2019,percent_adult_access_2019,pop_adult_access_2019,Rank_adult_care_access_2020,percent_adult_care_access_2020,pop_adult_care_access_2020,Rank_adult_access_2021,percent_adult_access_2021,pop_adult_access_2021,...,TOT_EMP_2018,JOBS_1000_2018,LOC_Q_2018,TOT_EMP_2019,JOBS_1000_2019,LOC_Q_2019,TOT_EMP_2020,JOBS_1000_2020,LOC_Q_2020,id
0,New Jersey,36.0,57.0,602000.0,40.0,59.9,663000.0,42.0,60.0,644000.0,...,2290,0.565,1.44,3580.0,0.947,1.18,1610.0,0.426,0.51,1
1,Texas,47.0,62.2,1925000.0,44.0,61.7,1991000.0,NaN,NaN,NaN,...,5330,0.440,1.12,8930.0,0.738,0.92,5150.0,0.425,0.51,2
2,Maryland,32.0,56.4,429000.0,32.0,55.9,446000.0,39.0,59.1,459000.0,...,430,0.160,0.41,1980.0,0.784,0.98,2520.0,0.997,1.19,3
3,Virginia,21.0,53.7,684000.0,25.0,54.8,651000.0,28.0,54.5,589000.0,...,1250,0.326,0.83,2710.0,0.731,0.91,4310.0,1.165,1.39,4
4,Florida,45.0,61.4,1643000.0,37.0,59.3,1705000.0,46.0,63.0,1816000.0,...,4280,0.498,1.27,5520.0,0.654,0.82,4150.0,0.491,0.58,5

In [29]:
# Remove % signs from rows
master_df = master_df.replace('%','', regex=True)

In [27]:
# Change dtpyes
master_df['pop_sub_dis_2019'] = master_df['pop_sub_dis_2019'].astype('int32')

In [34]:
# 2 Change dtpyes
master_df['pop_adult_uninsured_2019'] = pd.to_numeric(master_df['pop_adult_uninsured_2019'], errors='coerce')
master_df['pop_adult_ami_2020'] = pd.to_numeric(master_df['pop_adult_ami_2020'], errors='coerce')
master_df['percent_youth_someMH_2020'] = pd.to_numeric(master_df['percent_youth_someMH_2020'], errors='coerce')
master_df['TOT_EMP_2018'] = pd.to_numeric(master_df['TOT_EMP_2018'], errors='coerce')
master_df['JOBS_1000_2018'] = pd.to_numeric(master_df['JOBS_1000_2018'], errors='coerce')
master_df['LOC_Q_2018'] = pd.to_numeric(master_df['LOC_Q_2018'], errors='coerce')
master_df['TOT_EMP_2019'] = pd.to_numeric(master_df['TOT_EMP_2019'], errors='coerce')
master_df['JOBS_1000_2019'] = pd.to_numeric(master_df['JOBS_1000_2019'], errors='coerce')
master_df['LOC_Q_2019'] = pd.to_numeric(master_df['LOC_Q_2019'], errors='coerce')
master_df['TOT_EMP_2020'] = pd.to_numeric(master_df['TOT_EMP_2020'], errors='coerce')
master_df['JOBS_1000_2020'] = pd.to_numeric(master_df['JOBS_1000_2020'], errors='coerce')
master_df['LOC_Q_2020'] = pd.to_numeric(master_df['LOC_Q_2020'], errors='coerce')

In [37]:
master_df.to_sql(name='cleaned_master_table', if_exists='replace', con=engine, index=False)